<div
    id="message-<%= message.id %>"
    class="message <%= message.user === user ? 'sent' : 'received' %>"
    data-controller="message"
    data-message-user-id-value="<%= message.user.id %>">
  <div class="message-block">
    <small class="message-info">
    <%= render partial: "stared", locals: { message: message, starred: starred } %>
    </small>
    <p class="message-content"><%= message.content %></p>
  </div>
</div>
