<div
    data-controller="message"
    id="message-<%= message.id %>"
    class="w-100 inline-block message <%= message.user.id === user.id ? 'sent' : 'received' %>"
    data-message-user-id-value="<%= message.user.id %>">
  <div class="card mt-2 w-50 message-block position-relative">
    <div class="card-body">
      <small class="message-info">
      <%# <%= # render partial: "stared", locals: { message: message, starred: starred } %>
        <span class="avatar avatar-sm avatar-rounded">
          <%= cl_image_tag message.user.photo.key%>
        </span>
        <strong><%= message.user.username %></strong>
        <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <p class="message-content"><%= message.content %></p>
      <% if (message.stareds & user.stareds).present?  %>
        <div class="stared position-absolute bottom-0 end-0 me-2"
          data-message-target="stars">
          <input class="d-none" data-message-target="msgId" value="<%= message.id %>"></input>
          <%= image_tag "star_s.png", data: {action: 'click->message#unstar'}%>
          <%= image_tag "star.png", data: {action: 'click->message#star'}, class: 'd-none' %>
        </div>
      <% else %>
        <div class="star position-absolute bottom-0 end-0 me-2"
          data-message-target="stars">
          <input class="d-none" data-message-target="msgId" value="<%= message.id %>"></input>
          <%= image_tag "star_s.png", data: {action: 'click->message#unstar'}, class: 'd-none' %>
          <%= image_tag "star.png", data: {action: 'click->message#star'} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
