<div>
  <%= link_to image_tag('back', class: "back-button"), root_path %>
</div>

<h2 class="title">Sign up</h2>


<div class="simple-form">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="input">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Name" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Last Name" }%>
      <%= f.input :username,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Username" }%>
      <%= f.input :photo,
                  as: :file,
                  required: true,
                  label: "Profile Picture"%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>

<br>
<%= render "devise/shared/links" %>
