<div><%= render "shared/searchbar" %></div>

<%= image_tag url_for(@user_avatar) if @user_avatar.present? %>

<div class="button-container">
  <%= link_to "Chats Created By Me", list_path(@chat), class: "btn btn-secondary" %>
</div>
<%# path will be changed according to chats created by me page %>
<div class="button-container">
  <%= link_to "Chats I Joined", list_path(@chat), class: "btn btn-secondary" %>
</div>
<div class="button-container">
  <%= link_to "Starred Messages", list_path(@chat), class: "btn btn-secondary" %>
  <%# path will be changed according to chats created by me page %>
</div>
