<ul class="list-unstyled mb-0 mt-2" id="my-chats-online-users">
<% if chats_with_messages_count.present? %>
  <% chats_with_messages_count.each_with_index do |chat, index| %>
    <li>
      <div class="d-flex align-items-center justify-content-between">
          <div>
              <p class="mb-0">
                <a href="/chats/<%= chat['id']%>"><%= chat['title'] %></a>
              </p>
              <div id="online-users-list"></div>
              <p class="mb-0">
                <span class="badge bg-success-transparent" id="online-users-list-<%= chat['id'] %>"><%= chat['online_num'].present?? chat['online_num'].length : 0 %> Online</span>
              </p>
          </div>
          <div class="avatar-list-stacked my-auto" id="online-users-list-avatar-<%= chat['id'] %>">
            <% if chat['online_num'].present?%>
              <% chat['online_num'].each do |user| %>
                <span class="avatar avatar-sm avatar-rounded">
                  <%= cl_image_tag user.photo.key %>
                </span>
              <% end %>
            <%end%>
            <a href="/chats/<%= chat['id']%>" class="avatar avatar-sm bg-primary text-fixed-white avatar-rounded"><%= "+#{chat['msgcount']}" %></a>
          </div>
      </div>
    </li>
  <% end %>
<% else %>
  <p class="fs-11 fw-semibold mb-1 op-7">You haven't joined any chat group yet.</p>
<% end %>
</ul>
