<div class="main-content app-content">
  <div><%= render "shared/searchbar" %></div>
  <div class="button-container">
    <%= link_to "Create a Chat", new_chat_path(@chat), class: "btn btn-secondary" %>
  </div>
  <br>
  <div class="container-fluid">
    <div class="main-chart-wrapper p-2 gap-2 d-lg-flex">
      <div class="chat-info border">
        <ul class="nav nav-tabs tab-style-2 nav-justified mb-0 border-bottom d-flex" id="myTab1" role="tablist">
          <!-- <li class="nav-item border-end me-0" role="presentation">
            <button class="nav-link active h-100" id="users-tab" data-bs-toggle="tab"
                data-bs-target="#users-tab-pane" type="button" role="tab"
                aria-controls="users-tab-pane" aria-selected="true">
                <i class="ri-history-line me-1 align-middle d-inline-block"></i>Recent
            </button>
          </li>-->
          <li class="nav-item me-0" role="presentation">
            <button class="nav-link active h-100" id="joined-tab" data-bs-toggle="tab" data-bs-target="#joined-tab-pane"
              type="button" role="tab" aria-controls="joined-tab-pane" aria-selected="true">
              <i class="ri-group-2-line me-1 align-middle d-inline-block"></i>Joined
            </button>
          </li>
          <li class="nav-item me-0" role="presentation">
            <button class="nav-link" id="created-tab" data-bs-toggle="tab" data-bs-target="#created-tab-pane"
              type="button" role="tab" aria-controls="created-tab-pane" aria-selected="false">
              <i class="ri-group-2-line me-1 align-middle d-inline-block"></i>Created
            </button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="joined-tab-pane" role="tabpanel" aria-labelledby="joined-tab">
            <ul class="list-unstyled mb-0 mt-2">
              <% if @chats_with_messages_count.present? %>
                <% @chats_with_messages_count.each_with_index do |chat, index| %>
                  <li>
                    <div class="d-flex align-items-center justify-content-between">
                      <div>
                        <p class="mb-0"><%= link_to chat['title'], chat_path(chat['id']) %></p>
                        <div id="online-users-list"></div>
                        <p class="mb-0">
                          <span class="badge bg-success-transparent" id="online-users-list-<%= chat['id'] %>">
                            <%= chat['online_num'] %> Online
                          </span>
                        </p>
                      </div>
                      <div class="avatar-list-stacked my-auto" id="online-users-list-avatar-<%= chat['id'] %>">
                        <%= render "chats/my_chats_online_users", online_num: chat['online_num'], chat: chat %>
                        <%= link_to "+#{chat['msgcount']}", chat_path(chat['id']), class: "avatar avatar-sm bg-primary text-fixed-white avatar-rounded" %>
                      </div>
                    </div>
                  </li>
                <% end %>
              <% else %>
                <p class="fs-11 fw-semibold mb-1 op-7">You haven't joined any chat group yet.</p>
              <% end %>
            </ul>
          </div>
          <div class="tab-pane fade" id="created-tab-pane" role="tabpanel" aria-labelledby="created-tab">
            <ul class="list-unstyled mb-0 mt-2">
                  <% if @created_chats.present? %>
                    <% @created_chats.each_with_index do |chat, index| %>
                      <li>
                        <div class="d-flex align-items-center justify-content-between">
                          <div>
                            <p class="mb-0"><%= link_to chat.title, chat_path(chat) %></p>
                            <p class="mb-0">
                              <span class="badge bg-success-transparent" id="online-users-list-<%= chat['id'] %>">
                            <%= chat['online_num'] %> Online
                          </span>
                            </p>
                          </div>
                          <div class="avatar-list-stacked my-auto">
                            <span class="avatar avatar-sm avatar-rounded">
                              <%= image_tag "faces/5.jpg" %> <!-- Replace with dynamic avatars if needed -->
                            </span>
                            <span class="avatar avatar-sm avatar-rounded">
                              <%= image_tag "faces/8.jpg" %> <!-- Replace with dynamic avatars if needed -->
                            </span>
                            <%= link_to "+#{chat.messages.count}", chat_path(chat), class: "avatar avatar-sm bg-primary text-fixed-white avatar-rounded" %>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  <% else %>
                    <p class="fs-11 fw-semibold mb-1 op-7">You haven't created any chat groups yet.</p>
                  <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
