<div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('banner.jpg')%>);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;">
<%= render "shared/searchbar" %>
<h1 class="title"> Starred Messages </h1>
<br>
</div>
<br>

<% @stareds.each do |stared| %>
  <div class="starred-card ">
    <div class="row">
      <p class="subject">Chat:</p>
      <p class="value"><%= stared.message.chat.title %></p>
    </div>
    <div class="row">
      <p class="subject">Message:</p>
      <p class="value"><%= stared.message.content %></p>
    </div>
    <div class="row">
      <p class="subject">From:</p>
      <p class="value"><%= stared.user.username.capitalize %></p>
    </div>
  </div>
<% end %>
